@tailwind base;
@tailwind components;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

@layer base {
  html {
    @apply font-roboto text-base text-black;
  }
}

@layer components {
  .navLinks {
    @apply text-base font-normal hover:text-primary hover:transition-all;
  }
}

/* custom ant design */
.ant-modal-content {
  background-color: transparent !important;
  padding: 0 !important;
}
